# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Reportes
reporte.html
htmlcov/

# Screenshots
screenshots/

# IDE
.vscode/
.idea/

# Entornos virtuales
venv/
.venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db